$app_bar_color: #01023F;
$font_size    : 15px;
$text_color   : #3998C5;

// header start here

// status bar color
ul {
  margin : 0px;
  padding: 0px;
}

p {
  margin: 0px;
}

a:hover {
  text-decoration: none;
}

#device-android {
  .frame-container {
    .statusbar {
      background-color: #fff;
    }
  }
}

ionlab-device-frame {
  .frame-container {
    .statusbar {
      background-color: #fff !important;
    }
  }
}

ion-toolbar {
  .toolbar-color1 {
    height: 52px;
    width : 100%;
  }
}

ion-header ion-toolbar:first-child {
  --background: #01023F !important;
}

ion-menu-button{
  --color: transparent;
  --padding-start: 55px;
  // --background: url(../../assets/images/icon.png) !important;
  }

.rao_logo {
  background-color: #fff;
  width           : 47px;
  height          : 22px;
  border-radius   : 30px;
  margin-left     : 10px;
  text-align      : center;
  position        : relative;

  .logo_img {
    max-height    : 100%;
    max-width     : 100%;
    height        : 12px;
    width         : 20px;
    margin        : auto;
    vertical-align: center;
    position      : absolute;
    top           : 0px;
    bottom        : 0px;
    left          : 0px;
    right         : 0px;

  }
}

.middle_sec span {
  font-size  : $font_size;
  color      : #fff;
  font-weight: 100;
}

.icon_sec{
  z-index: -1;
    position: absolute;
    right: 17px;
    top: 10px;
}

// content start  here
.all_content{
  padding: 10px;
}
.select_date {
  background-color: #3998C5;
  border-radius: 4px;
  width: 100%;
  padding: 5px 18px;
  font-size: 16px;
  font-weight: bold;
}
.or_text{
  color: $app_bar_color;
  font-size: 19px;
  font-weight: bold;
  padding: 5px 0px;
}
ion-item{
  height: 30px;
    margin-bottom: 10px;
    border-bottom: 1px solid $app_bar_color!important;
    background-color: #fff;
}

ion-datetime, ion-input, ion-textarea{
  color: $app_bar_color;
  font-size: 12px;
  font-weight     : bold;
  margin-bottom: 10px;
}
.sc-ion-input-md-h {
    --placeholder-opacity: 1!important; 
       margin-left: 15px!important;
 }

.sc-ion-textarea-md-h {
  margin-left: 15px!important;
  --padding-top: 0px!important;
  --placeholder-opacity: 1!important; 
  }
 .add_leave_btn button {
    background-color:$app_bar_color;
    border-radius: 30px;
    font-size: 17px;
    font-weight: 500;
    padding: 8px 18px;
    margin-top: 10px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}
.add_leave_btn button:focus {
  box-shadow: none!important;
  outline: none!important;
}