<ion-header>
  <ion-toolbar class="toolbar-color1">

    <ion-row>
      <ion-col size='4'>
        <div class="rao_logo">
          <ion-img src="../../assets/images/raoinfotech-logo.png" class="logo_img"></ion-img>
        </div>
      </ion-col>
      <ion-col size='4'>
        <div class="middle_sec text-center">
          <span>Profile</span>
        </div>
      </ion-col>
      <ion-col size='4'>
        <div class="icon_sec">
          <ion-img src="../../assets/images/icon.png"></ion-img>
        </div>
        <ion-menu-button></ion-menu-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="loader" *ngIf="loading">
    <img class="loading_img" src="../../assets/images/loader.gif" />
  </div>
  <div class="user_detail">
    <div *ngIf="singleUser">
      <div class="single_user_profile text-center">
        <div class="single_user">
          <div class="profile_img">
            <img *ngIf="!singleUser.profilePhoto" src="../../assets/images/person.png">
            <img *ngIf="singleUser.profilePhoto" src="{{path}}{{singleUser.profilePhoto}}">
          </div>
        </div>
      </div>
      <div class="usee_name_text">
        <p class="text-center">{{singleUser.name}}</p>
      </div>
      <div class="card">
        <div class="card-content row">
          <div class="col-4"><span class="user_heading">Name : </span></div>
          <div class="col-8">
            <span class="single_user_name">{{singleUser.name}}</span>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-content row">
          <div class="col-4"><span class="user_heading">email : </span></div>
          <div class="col-8">
            <span class="single_user_name">{{singleUser.email}}</span>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-content row">
          <div class="col-4"><span class="user_heading">DOB : </span></div>
          <div class="col-8">
            <span class="single_user_name">{{singleUser.dob}}</span>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-content row">
          <div class="col-4"><span class="user_heading">Phone No. : </span></div>
          <div class="col-8">
            <span class="single_user_name">{{singleUser.phone}}</span>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-content row">
          <div class="col-4"><span class="user_heading">Location : </span></div>
          <div class="col-8">
            <span class="single_user_name">{{singleUser.location}}</span>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-content row">
          <div class="col-4 pr-0"><span class="user_heading">Designation : </span></div>
          <div class="col-8">
            <span class="single_user_name">{{singleUser.designation}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="leave_report">
      <div class="leave_report_text text-white">
        Leave Report
      </div>
      <div *ngIf="userLeaves.length">
        <div class="leave_details" *ngFor="let leave of userLeaves">
          <div class="card">
            <div class="row">
              <div class="col-4">
                <div *ngIf="leave.status == 'Rejected'">
                  <span style=" color: #FF0000;">{{leave.date.date}}/{{leave.date.month}}/{{leave.date.year}}</span>
                </div>
                <div *ngIf="leave.status == 'Approved'">
                  <span style=" color: #3998C5;">{{leave.date.date}}/{{leave.date.month}}/{{leave.date.year}}</span>
                </div>
                <div *ngIf="leave.status == 'pending'">
                  <span style=" color: #FFAA00;">{{leave.date.date}}/{{leave.date.month}}/{{leave.date.year}}</span>
                </div>
              </div>
              <div class="col-4 text-center">
                <div *ngIf="leave.status == 'Rejected'">
                  <span (click)='presentAlert(leave)' style="cursor: pointer; color: #FF0000;">
                    {{getNoOfDays(leave.noOfDays)}}</span>
                </div>
                <div *ngIf="leave.status == 'Approved'">
                  <span (click)='presentAlert(leave)' style="cursor: pointer; color: #3998C5;">
                    {{getNoOfDays(leave.noOfDays)}}</span>
                </div>
                <div *ngIf="leave.status == 'pending'">
                  <span (click)='presentAlert(leave)' style="cursor: pointer; color: #FFAA00;">
                    {{getNoOfDays(leave.noOfDays)}}</span>
                </div>
              </div>
              <div class="col-4">
                <div *ngIf="leave.status == 'Rejected'">
                  <span class="pl-2" style="color: #FF0000;">{{leave.status}}</span>
                </div>
                <div *ngIf="leave.status == 'Approved'">
                  <span class="pl-2" style="color: #00B51E;">{{leave.status}}</span>
                </div>
                <div *ngIf="leave.status == 'pending'">
                  <span class="pl-2" style="color: #FFAA00;">{{leave.status}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!userLeaves.length" class="no_leaves">
        <p style="text-align:center;">No leaves yet...</p>
      </div>
    </div>
  </div>
</ion-content>