<ion-header>
  <ion-toolbar class="toolbar-color1">
    <ion-row>
      <ion-col size='4'>
        <div class="rao_logo">
          <ion-img src="../../assets/images/raoinfotech-logo.png" class="logo_img"></ion-img>
        </div>
      </ion-col>
      <ion-col size='4'>
        <div class="middle_sec text-center">
          <span>Notification</span>
        </div>
      </ion-col>
      <ion-col size='4'>
          <div class="icon_sec">
              <ion-img src="../../assets/images/icon.png"></ion-img>
          </div>
          <ion-menu-button></ion-menu-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="all_notification" *ngFor="let item of notificationDetails">
    <div class="card">
      <div class="card-content ">
        <div class="notify_name w-100">
          <span class="user_name float-left">{{item.body}}</span>
          <span class="float-right applied_date">{{item.createdAt | date}} | {{item.createdTime}}</span>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="notificationDetailsCount == 0" class="dataNotAvalible">
    <p>Sorry You have no new notifications</p>
  </div>
</ion-content>
