
<ion-header>
  <ion-toolbar class="toolbar-color1">
    <ion-row>
      <ion-col size='4'>
        <div class="rao_logo">
          <ion-img src="../../assets/images/raoinfotech-logo.png" class="logo_img"></ion-img>
        </div>
      </ion-col>
      <ion-col size='4'>
        <div class="middle_sec text-center">
          <span>Profile</span>
        </div>
      </ion-col>
      <ion-col size='4'>
        <div class="icon_sec">
          <ion-img src="../../assets/images/icon.png"></ion-img>
        </div>
        <ion-menu-button></ion-menu-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="loader" *ngIf="loading">
    <img class="loading_img" src="../../assets/images/loader.gif" />
  </div>
  <div *ngIf="userDetail" class="user_detail">
    <div class="single_user_profile text-center">
      <div class="user_img">
        <div class="profile_img">
          <img *ngIf="!userDetail.profilePhoto" class="circle-ronded" src="../../assets/images/person.png">
          <img *ngIf="userDetail.profilePhoto" class="circle-ronded" src="{{path}}{{userDetail.profilePhoto}}">
        </div>
        <input type="file" name="files" value="files" id="customFile" accept="image/png, image/jpeg, image/jpg" hidden
          (change)="fileSelected($event)">
        <label for="customFile" class="profile_and_cover_edit text-center" title="Change Profile"><i
            class="fa fa-camera" aria-hidden="true"></i></label>
      </div>
      <!-- <ion-img *ngIf="urls" [src]="urls"></ion-img> -->
    </div>
    <div class="usee_name_text">
      <p class="text-center">{{userDetail.name}}</p>
    </div>
    <div class="card">
      <div class="card-content row">
        <div class="col-4"><span class="user_heading">first Name : </span></div>
        <div class="col-8">
          <span class="single_user_name">{{userDetail.name}}</span>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-content row">
        <div class="col-4"><span class="user_heading">email : </span></div>
        <div class="col-8">
          <span class="single_user_name">{{userDetail.email}}</span>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-content row">
        <div class="col-4"><span class="user_heading">DOB : </span></div>
        <div class="col-8">
          <span class="single_user_name">{{userDetail.dob}}</span>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-content row">
        <div class="col-4"><span class="user_heading">Phone No. : </span></div>
        <div class="col-8">
          <span class="single_user_name">{{userDetail.phone}}</span>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-content row">
        <div class="col-4"><span class="user_heading">Location : </span></div>
        <div class="col-8">
          <span class="single_user_name">{{userDetail.location}}</span>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-content row">
        <div class="col-4 pr-0"><span class="user_heading">Designation : </span></div>
        <div class="col-8">
          <span class="single_user_name">{{userDetail.designation}}</span>
        </div>
      </div>
    </div>
  </div>
</ion-content>